<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Header -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css') }}">
    <!-- Footer -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css') }}">
    <!-- Navbar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                Instagredients and Recipes :)™
            </header>
            <nav class="navbar navbar-dark  bg-disabled flex-md-nowrap p-0">
                <div class="col">
                    <a class="btn btn-outline-grey" href="{{ url_for('base_bp.index')}}">Home</a>
                </div>
            </nav>
            <main role="main" class="container-fluid">
                <p>Hello World</p>
            </main>
        </div>
        <!-- Footer as it should be  -->
        <footer class="footer border-top shadow-sm" id="footer">
            <div class="container">
                <span class="text-muted">@copyright 2021-present</span>
            </div>
        </footer>
    </div>
</body>
</html>