.mx-auto {
    margin: 20px auto; 
    border-radius: 8px;
    padding: 10px; 
    align-items: center; 
    justify-content: center; 
    display: flex;
    box-shadow: 0 0px 10px 0 lightslategray;
    min-width: 75%;
}

input {
    width: 100%; 
    border-radius: 8px; 
    border: 1px solid lightgray; 
    height: 30px;
    outline: none;
}

textarea {
    width: 100%; 
    border-radius: 8px; 
    height: 200px; 
    border: 1px solid lightgray;
    outline: none;
}

label {
    display: block; 
    font-size: 18px;
}

h1 {
    letter-spacing: 0.5rem;
}

.btn-primary {
    width: 100%;
}

.submit {
    font-size: 18px;
}

.categories {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    outline: none;
}