<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Header -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/header.css') }}">
	<!-- Footer -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css') }}">
	<!-- Navbar -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link1</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Commands</a></li>
          <li><a href="#">Feedback/Suggestions</a></li>
        </ul>
      
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Body content -->
  <main role="main" class="container-fluid">
    {% block content %}{% endblock %}
  </main>
</body>

<!-- Footer as it should be  -->
<footer class="footer border-top shadow-sm" id="footer">
    <div class="container">
        <span class="text-muted">@copyright 2021-present</span>
    </div>
</footer>
</html>

<script>
$(function() {
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
});
</script>