<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Header -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/header.css') }}">
	<!-- Footer -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css') }}">
  <!-- Feedback Form -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/feedback.css') }}">
  <!-- Index page -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}">
	<!-- Navbar -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <!-- Copyright Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Flash Messages -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/flashMessages.css') }}">
  <!-- Documentation -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/documentation.css') }}">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/opendyslexic" type="text/css"/>

</head>

<body id="main" style="font-size: 17px;">
  <div id="page-container">
    
      <!-- Body content -->

      {% block content %}{% endblock %}

  </div>
  <div style="position:fixed; bottom:5px; right:5px; z-index:1000;">
    <button type="button" class="btn btn-light" onClick="changeFontSize('main', -1)" style="font-weight: bold">A-</button>
    <button type="button" class="btn btn-light" onClick="changeFontSize('main', 1)" style="font-weight: bold">A+</button>
    <div class="btn-group dropup">
      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" style="font-weight: bold;">Select Font
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><button class="btn btn-light" onClick="changeFontFamily()">OpenDyslexic</button></li>
        <li><button class="btn btn-light" onClick="changeFontFamilyDefault()" style="width: 112.38px">Default</button></li>
      </ul>
    </div>
  </div>
  <!-- Footer as it should be  -->
  <footer class="footer" id="footer">
      <div class="container">
        <span class="text-muted" style="display: block;">&#169; John Khuc • Xi Xi Lin • Luke Wooten 2021</span>
        <span class="text-muted">&#169; All art credit belongs to <a href="https://twitter.com/jdzombi_">JD</a></span>
      </div>
  </footer>
</body>
</html>

<script>
function changeFontSize(id, increaseFactor){
    var txt = document.getElementById(id);
    var style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
    var currentSize = parseFloat(style);
    txt.style.fontSize = (currentSize + increaseFactor) + 'px';
  }

function changeFontFamily(){
  document.getElementById("main").style.fontFamily = "OpenDyslexic3Regular";
}

function changeFontFamilyDefault(){
  document.getElementById("main").style.fontFamily = "Helvetica Neue”,Helvetica,Arial,sans-serif";
}
</script>