<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Header -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/header.css') }}">
	<!-- Footer -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css') }}">
  <!-- Feedback Form -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/feedback.css') }}">
  <!-- Index page -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}">
	<!-- Navbar -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <!-- Copyright Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Flash Messages -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/flashMessages.css') }}">
  <!-- Documentation -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/documentation.css') }}">

</head>

<body>
  <div id="page-container">
    
      <!-- Body content -->
      {% block content %}{% endblock %}

  </div>
  <!-- Footer as it should be  -->
  <footer class="footer" id="footer">
      <div class="container">
        <span class="text-muted" style="display: block;">&#169; John Khuc • Xi Xi Lin • Luke Wooten 2021</span>
        <span class="text-muted">&#169; All art credit belongs to <a href="https://twitter.com/jdzombi_">JD</a></span>
      </div>
  </footer>
</body>
</html>

<script>
$(function() {
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
});
</script>