{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-default" role="navigation" id="bootstrap-overrides">
  <div class="container-fluid">
    <!-- Project name and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Acessibot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/commands">Commands</a></li>
        <li><a href="/documentation">Changelog</a></li>
        <li><a href="/feedback">Feedback/Suggestions</a></li>
      </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<main role="main" class="container-fluid" style="width: 100%; display: block">
  <div class="bodywrapper" style="margin: 40px auto 0 auto; max-width: 700px">
    <div class="section">
      <h1 style="font-weight: bold; letter-spacing: 0rem;">Commands</h1>
      <p>List of commands for Accessibot.</p>
    </div>
    <div class="section">
      <ul>
        <li style="font-weight: bold;">,tts on</li>
        <ul class="nested">
          <li>Join a voice channel and type this command in a text channel to enable tts in it.</li>
          <li>Any messages typed will be converted to speech in a voice channel you are connected to.</li>
        </ul>
        <li style="font-weight: bold;">,tts off</li>
        <ul class="nested">
          <li>Disables tts in the text channel tts is enabled in.</li>
        </ul>
        <li style="font-weight: bold;">,tts current</li>
        <ul class="nested">
          <li>Tells the user which channel tts is enabled in.</li>
        </ul>
        <li style="font-weight: bold;">,acc {language code}</li>
        <ul class="nested">
          <li>Changes the accent of the speaker for bot.</li>
          <li>The list of language codes can be found <a href="https://meta.wikimedia.org/wiki/Template:List_of_language_names_ordered_by_code" target="_blank">here</a>.</li>
        </ul>
      </ul>
    </div>
  </div>
</main>

{% endblock %}

<script>
$(function() {
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
});
</script>