{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-default" role="navigation" id="bootstrap-overrides">
  <div class="container-fluid">
    <!-- Project name and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Acessibot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/commands">Commands</a></li>
        <li class="active"><a href="/documentation">Changelog</a></li>
        <li><a href="/feedback">Feedback/Suggestions</a></li>
      </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<main role="main" class="container-fluid" style="width: 100%; display: block">
  <div class="bodywrapper" style="margin: 40px auto 0 auto; max-width: 700px">
    <div class="section">
      <div class="section">
        <h1 style="font-weight: bold; letter-spacing: 0rem;">Accessibot Changelog</h1>
        <p>Here you can see the list of additions and changes for Accessibot.</p>
      </div>
      <div class="section" style="margin-bottom: 10%">
        <h2>Version 0.0.8</h2>
        <p>Released July 17, 2021</p>
        <ul class="nested">
          <li>Updated speed adjuster for the bot</li>
          <li>Finalized commands page on the website with all the commands we have so far</li>
        </ul>
        <h2>Version 0.0.7</h2>
        <p>Released July 17, 2021</p>
        <ul class="nested">
          <li>Added pitch adjustments to the bot</li>
        </ul>
        <h2>Version 0.0.6</h2>
        <p>Released July 10, 2021</p>
        <ul class="nested">
          <li>Updated language support for Speech-To-Text</li>
        </ul>
        <h2>Version 0.0.5</h2>
        <p>Released July 5, 2021</p>
        <ul class="nested">
          <li>Implemented custom fonts with OpenDyslexic to help users with Dyslexia</li>
        </ul>
        <h2>Version 0.0.4</h2>
        <p>Released June 30, 2021</p>
        <ul class="nested">
          <li>Can slow down speaker's speech pace for the bot </li>
        </ul>
        <h2>Version 0.0.3</h2>
        <p>Released June 25, 2021</p>
        <ul class="nested">
          <li>Added speaker accents for the bot</li>
        </ul>
        <h2>Version 0.0.2</h2>
        <p>Released June 24, 2021</p>
        <ul class="nested"> 
          <li>Text-To-Speech and Speech-To-Text is working</li>
        </ul>
        <h2>Version 0.0.1</h2>
        <p>Released May 28, 2021</p>
        <ul class="nested">
          <li>Bot basic functionalities created</li>
          <li>Website with feedback capabilities and changelog created</li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}