{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-default" role="navigation" id="bootstrap-overrides">
  <div class="container-fluid">
    <!-- Project name and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Acessibot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/commands">Commands</a></li>
        <li><a href="/feedback">Feedback/Suggestions</a></li>
      </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<main role="main" class="container-lg" style="margin: 0 auto;">
  <center><h1 style="letter-spacing: 2px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 40px">Accessibot</h1></center>
  <center>
    <div class="h-100" style="background: url('https://i.imgur.com/bFJBLvC.png'); background-size: cover; min-height: 700px; background-position: top;">
    </div>
  </center>
  <center><h3 class="description">An accessibility Discord bot providing features to users with impairments.</h3></center>
</main>

{% endblock %}

<script>
$(function() {
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
});
</script>